.header {
  background: red;
  position: fixed;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 0 24px;
}

.main {
  height: 100vh;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  width: 350px;
  background: blue;
  padding: 24px;
}

.feed {
  background: yellow;
  width: 100%;
  padding: 24px;
}

.teste {
  padding: 1px;
}